{# src/FC/PlatformBundle/Resources/views/Test/index.html.twig #}

{% extends "CoreBundle::layout.html.twig" %}

	{% block title %}Accueil - Test - FC Plateforme{% endblock %}

	{% block header %}Page Test Symfony2{% endblock %}
		{% block body %}
        	<table>
        		<tr>
					<td>Le {{ advert.date | date('d/m/Y') }} par {{ advert.author }}</td>
					<td><h4>{{ advert.title }}</h4></td>
					<td>{{ advert.content }}</td>
				</tr>
			</table>
		{% endblock %}
		{% block javascripts %}
			
		{% endblock %} 