{# src/FC/PlatformBundle/Resources/views/layout.html.twig #}

{% extends "CoreBundle::layout.html.twig" %}

{% block title %}
	Annonces - {{ parent() }}
{% endblock %}

{% block body %}

	{# On définit un sous-titre commun à toutes les pages du Bundle, par exemple #}
	<h1>Annonces</h1>

	<hr>

	{# On définit un nouveau bloc, que les vues du Bundle pourront remplir #}
	{% block fcplatform_body %}
	{% endblock %}
	
{% endblock %}
